body {
    border: 1px solid red;
    font-size: 16px;
    margin: 0px auto;
    max-width: 1024px;
}
header nav ul {
    text-align: center;
}

header img {
    border-radius: 300px;
    width: 190px;
}

header nav ul li {
    border-radius: 5px;
    box-shadow: 0px 0px 10px green;
    background: blue;
    border: 1px solid blue;
    display: inline-block;
    margin-right: 20px;
    padding: 16px 26px;
    color: white;
}
header nav ul li:hover {
    box-shadow: 0px 0px 0px white;
    background: white;
    color: blue;
}

main section article {
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
}

footer {
    border: 1px solid blue;
}
